# Configuración de Base de Datos PostgreSQL
POSTGRES_DB=nombre_de_tu_bd
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña_secreta
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configuración de Oracle Cloud Infrastructure (OCI PAR URL)
OCI_PAR_URL=https://objectstorage.sa-bogota-1.oraclecloud.com/p/TU_TOKEN_DE_PRUEBA/n/namespace/b/dato/o/
PYTHON_NLP_URL=http://localhost:8000